

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import '~bootstrap-icons/font/bootstrap-icons';

.form-label{
  width: 240px;
} 

* {
  font-family: Oswald, sans-serif;
  font-weight: bold;
}
