{% layout 'layout.liquid' %}
{% block content %}
  <h1 class="display-4">Dead Bird</h1>
  <div class="btn-group btn-group-lg">
    <a href="/users/signup" class="btn btn-info">Sign Up</a>
    <a href="/users/login" class="btn btn-info">Login</a>
  </div>
{% endblock %}