{% layout 'layout.liquid' %}
{% block content %}
  <div style="margin-top:55px"></div>
  <div class="card bg-dark text-black">
    <img
      class="card-img"
      src="https://media.istockphoto.com/id/931042070/vector/website-construction-line-style-illustration.jpg?s=612x612&w=is&k=20&c=nUuYoZxobPuitaSBN0AtOTTz_CIevEiszvFFdjQNhXs="
      alt="Card image">
    <div class="card-img-overlay">
      <div style="margin-top:15px"></div>
      <h5 class="card-title">
        Welcome to Segundo</h5>
      <p class="card-text">
        We understand there might be gear you no <br> longer need that still has a ton of life left in <br> it. That's where we come in, welcome to the <br> first Outdoor Apparel online open market! <br> Think of us as your friendly outdoors ebay, a <br> spot where you can make sure your old gear <br> ends up with someone who can still use it. <br>
        One person's trash is another's summit piece!</p>
      <br>
      <p class="card-text-bottom">Look out for community events near you!</p>
    </div>
  </div>
  <div style="margin-top:165px"></div>
  <div>
    <h2 class="display-4">Apparel</h2>
    <div class="row">
      {% for family in families %}
        <div class="col-4">
          <div class="card mb-3" style="">
            <h5 class="card-header">{{ family }}
            </h5>
            <div class="card-body">
              <a class="btn btn-info" href="/products?family={{family}}">
                View
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div style="margin-top:165px"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 border-0">
        <div class="card">
          <img
            class="card-img-top"
            src=""
            alt="">

          <div class="card-body-1">
            <h5 class="card-title-2">Card title</h5>
            <img
              class="bottom-img"
              src="https://media.istockphoto.com/id/1283050796/vector/flat-design-under-construction-concept.jpg?s=612x612&w=is&k=20&c=PB9hDrCog-RgEgnVNwdLYlxmsyZ4Mg7jLtNhZRSHC-g="
              alt="Card image">
            <p class="card-text-2">
              Some quick example text to build on 
              the card title and make up the bulk 
                           of the card's content.
            </p>

            <a href="#" class="btn btn-outline-primary btn-sm">
              Card link
            </a>
            <a href="#" class="btn btn-outline-secondary btn-sm">
              <i class="far fa-heart"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src=""
            alt="">

          <div class="card-body-2">
            <h5 class="card-title-2">Card title</h5>
            <img
              class="bottom-img"
              src="https://media.istockphoto.com/id/1283050796/vector/flat-design-under-construction-concept.jpg?s=612x612&w=is&k=20&c=PB9hDrCog-RgEgnVNwdLYlxmsyZ4Mg7jLtNhZRSHC-g="
              alt="Card image">
            <p class="card-text-2">
              Some quick example text to build on the 
              card title and make up the bulk of the 
                           card's content.
            </p>

            <a href="#" class="btn btn-outline-primary btn-sm">
              Card link
            </a>
            <a href="#" class="btn btn-outline-secondary btn-sm">
              <i class="far fa-heart"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}