{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h2 class="display-4">F/W 22'</h2>
    <div class="row">
      {% for family in families %}
        <div class="col-4">
          <div class="card mb-3" style="">
            <h5 class="card-header">{{family}} 
            </h5>
            <div class="card-body">
              <a class="btn btn-info" href="/products?family={{family}}">
                View 
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}