{% layout 'layout.liquid' %}
{% block content %}

  <div class="info-page">
    <h1 class="info-title"> Who we are.</h1>
    <p> In an ever growing, over saturated market, we strive to bring products not typically seen on the market. With over 6 and a half million people in it's borders, El salvador is not normally something that people think of when they imagine a lifestyle brand. Segundo is looking to change that by allowing customers to own something unique. We're not looking to 'disrupt the market', we're just looking to share our creations with the world. <br> Made in the US, inspired by the world</p>
  </div>

{% endblock %}